{{ template "snippets/header.html" . }}

<h2>Dashboard</h2>

{{ template "snippets/profile.html" .Profile }}

<p>
    <a class="btn profile-button" href="profile/{{ .Profile.GetAddressString }}"><span class="mbri-user"></span>
 View Your Profile</a>
    <a class="btn new-memo-button-inner" href="memo/new"><span class="mbri-bookmark"></span>
 New Memo</a>
    <a class="btn outline-button" href="memo/set-name"><span class="mbri-lock"></span>
 Set Name</a>
    <a class="btn outline-button" href="key/export"><span class="mbri-login"></span>
 Export Key</a>
    <a class="btn outline-button" href="key/change-password"><span class="mbri-key"></span>
 Change Password</a>
</p>

{{ if not .Posts }}
<h3>Feed Empty</h3>
<p>Start following others to see their posts here</p>
{{ else }}
<h3>Feed</h3>
{{ template "snippets/feed.html" . }}
{{ end }}

{{ template "snippets/footer.html" . }}
